@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}

/* headings and logo */

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

header {
  height: 75px;
}

#logo {
  float: left;
  font-size: 280%;
}

/* navigation links */

#menu {
  font-size: 110%;
  letter-spacing: 2px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* dropdown menu and button */

.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 35px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 0, 0.6);
}

/* cover image */

#cover-image {
  height: 600px;
  width: 100%;
  background: url(../images/kidssmall.jpg) no-repeat center center;
}

/* quote styling */

#quote {
  text-align: center;
  color: #3a3a3a;
  font-size: 160%;
  letter-spacing: 2px;
}

/* 3 R's summary section */

.flex-container-home {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-container-home>div {
  width: 33.33%;
  height: 300px;
  margin: 10px;
  padding: 20px 0;
  font-size: 30px;
  color: black;
  text-align: center;
}

.flex-container-home p {
  font-family: Raleway, sans-serif;
  font-size: 100%;
}

/* footer */

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

/* reuse styling */

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 128, 0, .6);
  justify-content: center;
}

.flex-container>div {
  background-color: white;
  color: black;
  height: 300px;
  width: 450px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
}

.reuse-expl p {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-size: 75%;
}

#reuse-image {
  height: 300px;
  width: 450px;
  background: url(../images/mansmallresize.jpg) no-repeat center center;
}

/* reduce styling */

.flex-container-reduce {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 0, 0, .6);
  justify-content: center;
}

.flex-container-reduce>div {
  background-color: white;
  color: black;
  height: 300px;
  width: 450px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
}

.reduce-expl p {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-size: 75%;
}

#reduce-image {
  height: 300px;
  width: 450px;
  background: url(../images/reuseresized.jpg) no-repeat center center;
}

/* recycle styling */

.flex-container-recycle {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(30, 144, 255, 0.6);
  justify-content: center;
}

.flex-container-recycle>div {
  background-color: white;
  color: black;
  height: 300px;
  width: 450px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
}

.recycle-expl p {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-size: 75%;
}

#recycle-image {
  height: 300px;
  width: 450px;
  background: url(../images/logosmallresize.jpg) no-repeat center center;
}

.tips {
  line-height: 35px;
  list-style-type: none;
}

.tips li {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-size: 75%;
}

/* question form */

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.questions {
  text-align: center;
}

/* Media queries */

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

  .flex-container,
  .flex-container-recycle,
  .flex-container-reduce,
  .flex-container-home {
    flex-direction: column;
    align-items: center;
  }

  .flex-container-home>div {
    width: 65%;
    height: 200px;
  }

  #cover-image {
    height: 450px;
  }
}

@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* For small screen sizes from 420px wide and down */
@media screen and (max-width: 420px) {
  #logo {
    font-size: 210%;
  }

  .dropbtn {
    font-size: 25px;
  }

  .flex-container-home > div {
    font-size: 20px;
  }
}